@model Vidly.ViewModels.RandomMovieViewMovie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@*<h2>@(((Movie)ViewData["RandomMovie"]).Name)</h2>*@
@*<h2>@ViewBag.RandomMovie</h2>*@