@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <text>We dont't have any customers yet</text>
}
else
{
    <table class=“table table-­‐bordered table-­‐hover”>
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
        
    </table>

}
