<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Vidly-20200727010404.mdf;Initial Catalog=aspnet-Vidly-20200727010404;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
